@model TelcelVS.Models.Telcel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Telcel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefono.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Contraseña)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
